/* Gaya Umum */
body {
    font-size: 16px; /* Ukuran font dasar */
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .containerValue{
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }

    .image-slider{
      width: 50%;
    }
    .search-bar input {
       display: none;
    }

    .menu ul {
        flex-direction: column; /* Mengubah menu menjadi kolom */
        align-items: center; /* Pusatkan item */
    }

    .program-cards {
        flex-direction: column; /* Mengubah kartu program menjadi kolom */
        align-items: center; /* Pusatkan item */
    }

    .program-description, .recommendation-description{
      padding-left: 0px;
      padding-right: 0px;
    }

    footer {
        display: none; /* Sembunyikan footer */
    }

    .hero {
        display: none; /* Sembunyikan hero */
    }
}

/* Responsif untuk layar sedang */
@media (min-width: 769px) and (max-width: 1024px) {
    .program-cards {
        flex-wrap: wrap; /* Mengizinkan pembungkusan */
        justify-content: space-around; /* Ruang di antara kartu */
    }

    .program-card {
        width: 45%; /* Lebar kartu program 45% */
    }
}

/* Responsif untuk layar kecil */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Mengubah navbar menjadi kolom */
  }

  .menu {
    display: flex; /* Tampilkan menu sebagai flex */
    flex-direction: column; /* Mengubah menu menjadi kolom */
  }

  .menu.active {
    display: flex; /* Tampilkan menu saat aktif */
  }

  .hamburger {
    display: block; /* Tampilkan hamburger pada layar kecil */
  }
  /* Sidebar Menu */
  .menu {
    position: fixed; /* Posisi tetap */
    top: 0; /* Menempel di bagian atas */
    left: -250px; /* Mulai di luar layar */
    width: 250px; /* Lebar sidebar */
    height: 100%; /* Tinggi penuh */
    background-color: #ffffff; /* Warna latar belakang */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Bayangan */
    transition: left 0.3s ease; /* Transisi saat muncul */
    z-index: 999; /* Pastikan di atas elemen lainnya */
  }

  /* Tampilkan menu saat aktif */
  .menu.active {
    left: 0; /* Pindahkan ke dalam layar */
  }
}
