* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth; /* Menambahkan efek smooth saat di-scroll */
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}
/* Navbar */
.navbar {
  background-color: #f7f7f7;
  position: fixed; /* Menjadikan header tetap */
  top: 0; /* Menempatkan header di bagian atas */
  left: 0; /* Menempatkan header di sisi kiri */
  right: 0; /* Menempatkan header di sisi kanan */
  z-index: 1000; /* Memastikan header berada di atas elemen lainnya */
}
.containernav {
  font-size: 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 85px;
}
/* Hamburger Menu */
.hamburger {
  display: none; /* Sembunyikan hamburger secara default */
  cursor: pointer;
}


/* Logo */
.logo {
  display: flex; /* Menggunakan flexbox untuk penataan */
  align-items: center; /* Menyelaraskan item secara vertikal */
  justify-content: center; /* Menyelaraskan item secara horizontal */
  height: 85px; /* Menyesuaikan tinggi logo agar sesuai dengan navbar */
}

.logo img {
  height: 90px;
}

/* Search Bar */
.search-bar {
  position: relative;
}

.search-bar i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.search-bar input {
  padding: 8px 10px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 316px;
  height: 44px;
  font-family: Inter, sans-serif;
}

.search-bar input::placeholder {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

/* Menu */
.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
}

.menu a:hover {
  background: linear-gradient(90deg, #1bc89d 0%, #417bbd 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: underline solid #1bc89d;
}

/* Auth Buttons */
.auth-buttons .btn {
  width: 85px;
  height: 50px;
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #1bc89d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.auth-buttons .btn a {
  text-decoration: none;
  color: white;
}
.auth-buttons .btn:hover {
  background: linear-gradient(90deg, #1bc89d 0%, #417bbd 100%);
}


/* Chat Icon Styling */
.chat-icon img {
  width: 96px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
/* section real Stories */
.realStories {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  height: 344px;
}
.reals-kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
}
.reals-kiri p {
  margin-left: 230px;
}
.container-reals {
  display: flex;
}
.reals-kiri img {
  width: 176px;
  height: 113px;
  flex-shrink: 0;
}
.kiradalam p {
  color: #000;
  /* text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
}
.reals-kanan {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 50%;
  height: 100%;
}

.animasi-reals-kanan-sebelahkanan img {
  width: 436px;
  height: 304px;
  border-radius: 10px;
border: 2px solid #FFC700;
}
.animasi-reals-kanan-sebelahkiri {
  margin-bottom: 30px;
  display: flex;
  align-items: end;
}
.animasi-reals-kanan-sebelahkiri img {
  width: 158px;
  height: 134px;
}
/* Footer */
footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f3f4f6;
}

.footer1,
.footer2 {
  padding: 20px 0px 0px 100px;
  display: flex;
  gap: 7rem;
}
.footer1 {
  color: #1bc89d;
}
.footer2,
.footer3 {
  font-weight: bold;
}
.footer2-component1 {
  text-align: justify;
  width: 416px;
  font-weight: 400;
}
.footer2-component2 {
  width: 335px;
  display: flex;
  gap: 5rem;
}
.informasi-footer1,
.informasi-footer2,
.informasi-footer3 {
  display: flex;
  gap: 2rem;
  width: 111px;
  list-style: none;
}

.informasi-footer1 ul,
.informasi-footer2 ul,
.informasi-footer3 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80px;
}
.informasi-footer1 li,
.informasi-footer2 li,
.informasi-footer3 li {
  list-style-type: none;
}

.informasi-footer1 a,
.informasi-footer2 a,
.informasi-footer3 a {
  text-decoration: none;
  color: black;
}

.footer2-component3 {
  text-align: center; /* Pusatkan teks */
}

.google-play {
  display: flex;
  flex-direction: column; /* Susun secara vertikal */
  align-items: center; /* Pusatkan secara horizontal */
  margin-top: 10px; /* Jarak atas */
}

.btn-google-play {
  display: flex;
  background-color: #f0f0f0; /* Warna latar belakang tombol */
  border: none; /* Tanpa border */
  padding: 10px 20px; /* Padding tombol */
  border-radius: 5px; /* Sudut membulat */
  cursor: pointer; /* Tangan saat hover */
  margin: 5px 0; /* Jarak atas dan bawah */
}

.btn-google-play:hover {
  background-color: #e0e0e0; /* Warna saat hover */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px 100px;
}

.footer-section {
  width: 48%;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.footer-section p span {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #000;
  font-size: 14px;
  color: gray;
}

.sosmed {
  margin-top: 24px;
  display: flex;
  justify-content: start;
  gap: 10px; /* Jarak antar ikon */
}

.sosmed a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Lebar ikon */
  height: 40px; /* Tinggi ikon */
  border-radius: 50%; /* Membuat ikon berbentuk lingkaran */
  transition: background-color 0.3s; /* Efek transisi saat hover */
}

.sosmed a:hover {
  background-color: #e0e0e0; /* Warna latar belakang saat hover */
}
.sosmed i {
  color: black; /* Mengubah warna ikon menjadi hitam */
}


/* Section Statistik */
.statistikAlumni{
  margin-top: 40px;
   display: flex;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 24px;
align-self: stretch;
background: linear-gradient(88deg, #1BC89D 28.9%, #4FC1D1 69.9%);
}
.container-statistik{
  display: flex;
  gap: 4.4rem;
  width: 100%;
}
.statistik-kiri{
  width: 50%;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
  
}
.statistik-kiri-dalam{
    display: flex;
    justify-content: end;
    gap: 3.2rem;
}
.animasidua{
  margin-left: 400px;
}
.statistik-kanan{
  width: 50%;
  display: flex;
  gap: 3.2rem;
  flex-direction: column;
}
.statistik-kanan-dalam{
  display: flex;
  justify-content: start;
  gap: 3.2rem;
}
.animasi-dua{
  margin-left: 170px;
}

/* Section Stories */

/* Section cerita */
.cerita {
  margin-top: 20px;
  display: flex;
  padding: 20px 12px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.cerita-h1 {
  align-self: stretch;
  color: #000;
  text-align: center;

  /* text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
}

.cerita p {
  margin-right: 200px;
  margin-left: 200px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn-pelajari {
  display: flex;
  width: 1440px;
  padding: 20px 12px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
.btn-pelajari button {
  cursor: pointer;
}

.btn-pelajari button:hover {
  background-color: #00b08c; /* Warna hover */
}

.btn-pelajari .btn {
  border: none;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--Hijau-Primer-Luarsekolah, #1bc89d);
  color: #f7f7f7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

/* Section Berjuang */

.achievement-section {
  margin-top: 20px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background: var(--Hijau-Primer-Luarsekolah, #1BC89D);
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #00aaff;
}

.card img {
  width: 282px;
  height: 280px;
  border: yellow solid 1px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column; /* Mengatur arah konten menjadi kolom */
  width: 282px; /* Memastikan lebar penuh untuk penyelarasan */
}

.card-content h3 {
 text-align: center;
 margin-bottom: 10px;
}

.card-content p {
  line-height: 1.4;
  font-size: 14px;
  text-align: left;
  
}

.sosmedtim {
  display: flex;
  justify-content: center; /* Menyelaraskan ikon secara horizontal */
  gap: 10px; /* Jarak antar ikon */
  margin-top: 10px; /* Jarak atas */
  width: 100%; /* Memastikan lebar penuh untuk penyelarasan */
  flex-wrap: wrap; /* Memungkinkan ikon untuk membungkus jika perlu */
}

.sosmedtim a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Lebar ikon */
  height: 40px; /* Tinggi ikon */
  border-radius: 50%; /* Membuat ikon berbentuk lingkaran */
  background: var(--Cyan-Sekunder-Luarsekolah, #4FC1D1);
  transition: background-color 0.3s; /* Efek transisi saat hover */
  border: black solid 0.5px;
}

.sosmedtim a:hover {
  background-color: #e0e0e0; /* Warna latar belakang saat hover */
}
.sosmedtim i {
  color: black; /* Mengubah warna ikon menjadi hitam */
}

/* Section Mereka Berhasil */
.merekaBerhasil {
  display: flex;
  gap: 1rem;
  background-color: #f9f9f9;
  /* padding: 40px 20px; */
  /* text-align: center; */
  align-items: center;
  flex-direction: column;
}

.merekaBerhasil h1 {
  font-size: 28px; /* Ukuran font untuk judul */
  margin-bottom: 20px; /* Jarak bawah */
}

.testimonials-container {
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  flex-wrap: wrap;
}

.testimonial-card {
  display: flex;
  background-color: #ffcc00;
  border-radius: 10px;
  padding: 20px;
  width: 353px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: solid 2px;
}

.testimonial-card img {
  width: 80px; /* Lebar gambar */
  height: 80px; /* Tinggi gambar */
  border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
  margin-bottom: 10px; /* Jarak bawah gambar */
}

.testimonial-card h3 {
  font-size: 20px; /* Ukuran font untuk nama */
  margin: 10px 0; /* Jarak atas dan bawah */
}

.testimonial-card p {
  font-size: 18px; /* Ukuran font untuk profesi */
  color: #555; /* Warna teks */
}

.testimonial-card blockquote {
  text-align: center;
  font-size: 18px;
  font-style: italic; /* Gaya italic untuk kutipan */
  color: #333; /* Warna teks kutipan */
  margin-top: 10px; /* Jarak atas kutipan */
}

.atas {
  justify-content: center;
  margin-top: -20px;
  background-color: #ffac33;
  border-radius: 10px;
  display: flex;
  gap: 1rem;
  width: 350px;
  height: 132px;
  align-items: center;
}
