* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
html {
  scroll-behavior: smooth; /* Menambahkan efek smooth saat di-scroll */
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

body {
  font-family: Arial, sans-serif;
  margin-top: 85px;
  background-color: #f7f7f7;
}

.navbar {
  background-color: #f7f7f7;
  position: fixed; /* Menjadikan header tetap */
  top: 0; /* Menempatkan header di bagian atas */
  left: 0; /* Menempatkan header di sisi kiri */
  right: 0; /* Menempatkan header di sisi kanan */
  z-index: 1000; /* Memastikan header berada di atas elemen lainnya */
}
.containernav {
  font-size: 16pt;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 85px;
}

/* Logo */
.logo {
  display: flex; /* Menggunakan flexbox untuk penataan */
  align-items: center; /* Menyelaraskan item secara vertikal */
  justify-content: center; /* Menyelaraskan item secara horizontal */
  height: 85px; /* Menyesuaikan tinggi logo agar sesuai dengan navbar */
}

.logo img {
  height: 90px;
}

/* Search Bar */
.search-bar {
  position: relative;
}

.search-bar i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.search-bar input {
  padding: 8px 10px 8px 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 316px;
  height: 44px;
  font-family: Inter, sans-serif;
}

.search-bar input::placeholder {
  font-family: Arial, sans-serif;
  font-weight: normal;
}

/* Menu */
.menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.menu a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #007bff;
}

/* Auth Buttons */
.auth-buttons .btn {
  width: 85px;
  height: 50px;
  padding: 8px 16px;
  margin-left: 10px;
  background-color: #1bc89d;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-buttons .btn:hover {
  background: linear-gradient(to right, #2d6eb3, #45a9b5);
}

/* sidebar */
/* Chat Icon Styling */
.chat-icon img {
  width: 96px;
  height: 64px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
/* section real Stories */
.realStories {
  display: flex;
  justify-content: center;
  height: 344px;
}
.reals-kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: column;
  gap: 2rem;
}
.reals-kiri p{
  margin-left: 230px;
}
.container-reals {
  display: flex;
}
.reals-kiri img {
  width: 176px;
  height: 113px;
  flex-shrink: 0;
}
.kiradalam p {
  color: #000;
  /* text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
}
.reals-kanan {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  width: 50%;
  height: 100%;
}

.animasi-reals-kanan-sebelahkanan img {
  width: 436px;
  height: 304px;
}
.animasi-reals-kanan-sebelahkiri {
  margin-bottom: 30px;
  display: flex;
  align-items: end;
}
.animasi-reals-kanan-sebelahkiri img {
  width: 158px;
  height: 134px;
}

/* Section Footer */
footer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f3f4f6;
}

.footer1,
.footer2 {
  padding: 20px 0px 0px 100px;
  display: flex;
  gap: 2rem;
}
.footer1 {
  color: #1bc89d;
}
.footer2,
.footer3 {
  font-weight: bold;
}
.footer2-component1 {
  text-align: justify;
  width: 416px;
}
.footer2-component2 {
  width: 335px;
  display: flex;
  gap: 1rem;
}
.informasi-footer1,
.informasi-footer2,
.informasi-footer3 {
  display: flex;
  gap: 2rem;
  width: 111px;
  list-style: none;
}

.informasi-footer1 ul,
.informasi-footer2 ul,
.informasi-footer3 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.informasi-footer1 li,
.informasi-footer2 li,
.informasi-footer3 li {
  list-style-type: none;
}

.informasi-footer1 a,
.informasi-footer2 a,
.informasi-footer3 a {
  text-decoration: none;
  color: black;
}

.footer2-component3 {
  text-align: center; /* Pusatkan teks */
  margin-top: -20px; /* Jarak atas */
}

.google-play {
  display: flex;
  flex-direction: column; /* Susun secara vertikal */
  align-items: center; /* Pusatkan secara horizontal */
  margin-top: 10px; /* Jarak atas */
}

.btn-google-play {
  display: flex;
  background-color: #f0f0f0; /* Warna latar belakang tombol */
  border: none; /* Tanpa border */
  padding: 10px 20px; /* Padding tombol */
  border-radius: 5px; /* Sudut membulat */
  cursor: pointer; /* Tangan saat hover */
  margin: 5px 0; /* Jarak atas dan bawah */
}

.btn-google-play:hover {
  background-color: #e0e0e0; /* Warna saat hover */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 0px 100px;
}

.footer-section {
  width: 48%;
}

.footer-section h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0;
}

.footer-section p span {
  margin-right: 10px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #000;
  font-size: 14px;
  color: gray;
}

/* Section Alumnini*/

.alumni-section {
  display: flex;
  text-align: center;
  background-color: #ffd700;
  padding: 40px 0;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.alumni-section h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.alumni-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-content: center;
  width: 810px;
  margin: 0 auto;
}

.alumni {
  width: 100px; /* Ukuran kotak */
  height: 100px; /* Persegi */
  border: 3px solid #00d9a8; /* Warna border */
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alumni img {
  width: 130px;
  height: 130px;
  object-fit: cover; /* Pastikan gambar memenuhi kotak secara proporsional */
}

.see-more {
  height: 44px;
  width: 186px;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #00d9a8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.see-more:hover {
  background-color: #00b08c; /* Warna hover */
}

/* Section Stories */

/* Section cerita */
.cerita {
  margin-top: 20px;
  display: flex;
  padding: 20px 12px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.cerita-h1 {
  align-self: stretch;
  color: #000;
  text-align: center;

  /* text-3xl/font-bold */
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 45px */
}

.cerita p {
  margin-right: 200px;
  margin-left: 200px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.btn-pelajari {
  display: flex;
  width: 1440px;
  padding: 20px 12px;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.btn-pelajari .btn {
  border: none;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--Hijau-Primer-Luarsekolah, #1bc89d);
  color: #f7f7f7;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

/* Section Berjuang */

.achievement-section {
  margin-top: 50px;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, border-color 0.3s;
}

.card:hover {
  transform: scale(1.05);
  border-color: #00aaff;
}

.card img {
  width: 282px;
  height: 280px;
  object-fit: cover;
}

.card-content {
  width: 282px;
  padding: 15px;
  background-color: #22f553;
}

.card-content h3 {
  margin-bottom: 10px;
  width: auto 219px;
  height: auto 30px;
  color: #000;
}

.card-content p {
  margin: 5px 0;
  width: auto 247px;
  height: auto 36px;
  color: #000000;
}

.sosmed {
  display: flex;
  justify-content: center;
  gap: 10px; /* Jarak antar ikon */
  margin-top: 10px; /* Jarak atas */
}

.sosmed a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px; /* Lebar ikon */
  height: 40px; /* Tinggi ikon */
  border-radius: 50%; /* Membuat ikon berbentuk lingkaran */
  background-color: #1bc89d; /* Warna latar belakang */
  transition: background-color 0.3s; /* Efek transisi saat hover */
}

.sosmed a:hover {
  background-color: #e0e0e0; /* Warna latar belakang saat hover */
}
.sosmed i {
  color: black; /* Mengubah warna ikon menjadi hitam */
}

/* Section Mereka Berhasil */
.merekaBerhasil {
  display: flex
;
    gap: 1rem;
    background-color: #f9f9f9;
    /* padding: 40px 20px; */
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.merekaBerhasil h1 {
  font-size: 28px; /* Ukuran font untuk judul */
  margin-bottom: 20px; /* Jarak bawah */
}

.testimonials-container {
  display: flex;
      /* justify-content: center; */
      gap: 20px;
      flex-wrap: wrap;
}

.testimonial-card {
  display: flex;
      background-color: #ffcc00;
      border-radius: 10px;
      padding: 20px;
      width: 350px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: left;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
}

.testimonial-card img {
  width: 80px; /* Lebar gambar */
  height: 80px; /* Tinggi gambar */
  border-radius: 50%; /* Membuat gambar berbentuk lingkaran */
  margin-bottom: 10px; /* Jarak bawah gambar */
}

.testimonial-card h3 {
  font-size: 20px; /* Ukuran font untuk nama */
  margin: 10px 0; /* Jarak atas dan bawah */
}

.testimonial-card p {
  font-size: 18px; /* Ukuran font untuk profesi */
  color: #555; /* Warna teks */
}

.testimonial-card blockquote {
  text-align: center;
  font-size: 18px;
  font-style: italic; /* Gaya italic untuk kutipan */
  color: #333; /* Warna teks kutipan */
  margin-top: 10px; /* Jarak atas kutipan */
}

.atas {
  justify-content: center;
  margin-top: -20px;
  background-color: #FFAC33;
    border-radius: 15px;
    display: flex;
    gap: 1rem;
    width: 350px;
    height: 132px;
    align-items: center;
}

